<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="htht.system.ocean.dao.ShpesChildDataMapper">
  <resultMap id="BaseResultMap" type="htht.system.ocean.model.ShpesChildData">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="SHP_CHILD_ID" jdbcType="DECIMAL" property="shpChildId" />
    <result column="BRANCH_ID" jdbcType="DECIMAL" property="branchId" />
    <result column="IMGPATHS" jdbcType="VARCHAR" property="imgpaths" />
  </resultMap>
</mapper>