<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="htht.system.ocean.dao.UserMapper">
    <resultMap id="BaseResultMap" type="htht.system.ocean.system.front.model.UserDO">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="USER_ID" jdbcType="DECIMAL" property="userId" />
        <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
        <result column="ALIAS" jdbcType="VARCHAR" property="alias" />
        <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="PIC_ID" jdbcType="DECIMAL" property="picId" />
        <result column="DEPARTMENT_NAME" jdbcType="VARCHAR" property="departmentName" />
    </resultMap>
</mapper>